body{
    font-size: 32px;
}

.empresa, .ramo {
  background: yellow;
  display: inline-block;
  width: 200px;
  height: 100px;
  
}

.ramo {
  background: gray;
}
.computador {
  background-color: brown;
  display: inline
}

.roteador {
  background-color: black;
  display: inline;
}

.impressora{
    background-color: blue;
    display: block;
}

.modem {
  background-color: green;
  display: inline;
}
