/* .container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
} */

/* @media (min-width: 800px) {
  article {
    width: 30%;
    float: left;
    margin-right: 5%;
  }
} */

/* Posicionamento:  
1- Posicionamento/
2 -Display e Box-Sizing
3- Cores
4 - Formatação de Texto
5- Outros
*/

/* Pacotes do plano de internet*/
.plano {
  padding: 10px;
  border: 1px solid #95a4a5;
  font-size: 1rem;
}

.plano__cabecalho {
  margin: -10px;
  margin-bottom: 0;

  background-color: #95a4a5;
  color: #fff;

  text-align: center;
  line-height: 2.5;
  font-size: 1.75em;
}

.plano__preco {
  margin: 20px;

  text-align: center;
  font-size: 1.75em;
}

.plano__caracteristicas {
  margin: 20px 0;
  padding: 0;

  list-style: none;
}

.plano__caracteristicas > li {
  text-align: center;
}

.plano__rodape {
  text-align: center;
}

.botao {
  padding: 12px 16px;

  display: inline-block;

  background-color: green;
  color: #fff;

  text-decoration: none;
  border-radius: 20px;
}
.botao:hover {
  background-color: red;
}

.botao:focus {
  background-color: blue;
  outline: none;
}

.botao--assinar {
  background-color: yellow;
  color: black;
}

.principal {
  font-size: 1.5rem;
  text-align: center;
  font-family: Arial;
}

.principal__titulo {
  margin: 0;

  color: #fff;

  font-size: 2.25em;
  text-shadow: 1px 2px #313131;
}

.principal__subtitulo {
  margin: 60px 0;

  color: #fff;
  font-size: 1em;
}

.principal__acao {
  margin: 60px 0;

  color: black;
  font-size: 1em;
  text-align: center;
}

.depoimento {
  font-size: 1.5em;
  font-family: Arial;
}

.depoimento > blockquote {
  margin: 0;
  padding: 0 60px;
  font-size: 1.25em;
  text-align: center;
}

.depoimento__autor{
  margin-top: 40px;

  text-align: center
}


.depoimento__autor > p{
  font-size: 10px;
}