.layout-cabecalho {
  height: 80px;
  background-color: #fff;
  /* border: 1px solid #ccc; */
}

.layout-cabecalho--home{
  background-color: #e7e7e7;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 999;
}

.layout-planos {
  padding: 80px 0;
}


@media(max-width:772px){
  .layout-planos .row > div:not(.ultima-coluna) {
    margin-bottom: 40px;
  }  
}


.layout-principal {
  padding: 80px 0;
  background-color: green;
}

.layout-depoimento {
  padding: 80px 0;
  background-color: #e7e7e7;
}

.layout-rodape{
  padding: 10px;
  background-color: #484848;
  color: black;
  text-align: center;
  margin-bottom:-10px;
}

.layout-assinatura{
  padding: 160px 0;
  
}

/* #planos::after {
    content: "";
    display: block;
    clear: both;
  } */
